h2{
    text-decoration: none;
 list-style: none;
 font-size: 10rem;
    color:red,
    
}

.itemCard{
    margin-top: 4rem;
    margin-bottom: 4rem;
  
}

.stock-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -6rem;
}

.stockProduct{
    padding-bottom: 15px;
   
}

h3{
    color:blue;
    padding-right: 10px;
    padding-left: 10px;
}

h2{
   margin-bottom: 1rem;
   font-size: .9rem;
}

.itemImage{
margin-left: -3rem;
}

span{
    margin-left: 1rem;
}